// 页面中最大的盒子
.about {
  padding:  0.2rem 0.2rem 0;
  height: 98%;
}
// 顶部筛选框布局
.titles {
  font-size: 16px;
  width: 100%;
  input {
    outline: none;
    height: 26px !important;
  }
  div{
    display: inline-block;
    margin: 2px 0;
  }
  span{
    float: right;
    margin-bottom: 10px;
  }
}
// 筛选查询下拉框
.azjgs{
  /deep/.el-select{
    margin-bottom: 10px;
  }
  // 下拉框边框，宽度
  /deep/.el-input--suffix{
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 174px;
    margin-right: 6px;
  }
  // 下拉框箭头居中
  /deep/ .el-input__suffix{
    display: flex;
    align-items: center;
  } 
  // 下拉框高度
  /deep/.el-input--suffix .el-input__inner{
    height: 32px;
    padding-right: 0
  }
}
//表格居中
/deep/.el-table td,/deep/.el-table th{
  text-align: center;
}
// 鼠标移入表格高亮显示
/deep/ .el-table--enable-row-hover {
  .el-table__body tr:hover > td {
    background: #ccc;
    color: #fff;
  }
}
// 下拉框内容背景色
.el-select-dropdown__item.selected,.el-select-dropdown__item:hover{
  color: #fff;
  background: #409EFF;
}
// 筛选查询日期输入框
/deep/.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
  width: 216px;
}
/deep/.el-range-editor.el-input__inner {
  padding: 5px 4px;
  border: 1px solid #aaa;
  margin-right: 6px;
}
// 模态框主体
.dialogsC{
  display: flex;
  justify-content: center;
}
// 模态框头部中间尾部
/deep/.el-dialog__header{
  border-bottom: 1px solid #ccc;
  text-align: left;
}
/deep/.el-dialog__footer{
  border-top: 1px solid #ccc;
}
/deep/.el-dialog--center{
  border-radius: 10px;
}
// 删除
.deleteP{
  font-size: 0.3rem;
}
/deep/.el-dialog--center .el-dialog__body{
  padding: 10px 0;
}
//模态框
.newDialog{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .title{
    display: grid;
    justify-items: end;
    font-size: inherit;
  }
  /deep/.el-select{
    margin-right: 0;
  }
  // 下拉框边框，宽度
  /deep/.el-input--suffix{
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 174px;
  }
  // 下拉框箭头居中
  /deep/ .el-input__suffix{
    display: flex;
    align-items: center;
  } 
  // 下拉框高度
  /deep/.el-input--suffix .el-input__inner{
    height: 32px;
    padding-right: 0
  }
  // 所有的input
  /deep/.el-input {
    width: 380px;
    margin: 0;
    margin-bottom: 10px;
  }
  // 禁用的input
  /deep/.el-input.is-disabled .el-input__inner {
    height: 32px !important;
    background-color: #eee;
    color: #aaa;
  }
  // 未禁用的input
  /deep/.el-input .el-input__inner{
    height: 32px !important;
    width: 100%;
  }
}